@import "tailwindcss";


.heroSec {
    height: 100dvh;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 300px;
    height: auto;
    position: relative;
}


.imageToAlign1{
    /* max-width: 180px; */
    scale: 0.7;
    position: absolute;
    top: 0;

}
.imageToAlign2{
    /* max-width: 180px; */
    scale: 0.7;
    position: absolute;
    top: 0;

}