/* @import "tailwindcss"; */


.heroSec {
    height: 100dvh;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    width: 300px;
    height: auto;
    position: relative;
}


.imageToAlign1 {
}

.imageToAlign2 {

    position: absolute;
    top: -31px;
    left: -120px;
}