::-webkit-scrollbar { 
    display: none; 
}

html { 
    scrollbar-width: none; 
}

body {
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    -ms-overflow-style: none;
}

* { 
    box-sizing: border-box; 
}

figure {
    margin: 0;
}

figure img {
    margin: 0 auto;
    display: block;
}

.main-container { 
    width: 100vw;
    height: 100vh;
    position: relative;
}

.extra-long-container {
    width: 7000px;
    height: 100%;
    position: relative;
    background: slateblue;
}

/* flower1 */
.extra-long-container .flower1 {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 2500px;
    transform: translate(0, -50%);
}

.extra-long-container .flower1 img {
    width: 300px;
    height: auto;
}

/* square1 */
.extra-long-container .square1 {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 1200px;
    background: blue;
    transform: translate(0, -50%);
}
